<a href="https://colab.research.google.com/github/njorogeinc/data_science/blob/main/Recomender_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file = "/content/drive/My Drive/data/data.zip"
from zipfile import ZipFile
with ZipFile(file, 'r') as zip:
  zip.printdir()
  print("Extracting file")
  zip.extractall()

File Name                                             Modified             Size
genome_scores.csv                              2019-09-20 00:37:06    214322450
genome_tags.csv                                2019-09-20 00:37:26        20363
link.csv                                       2019-09-20 00:37:26       539334
movie.csv                                      2019-09-20 00:37:26      1493648
rating.csv                                     2019-09-20 00:37:26    690353377
tag.csv                                        2019-09-20 00:38:24     21725514
Extracting file

In [ ]:
import glob
import os
import sys
%pwd

'/content'

In [ ]:
import pandas as pd
sf = pd.read_csv("/content/genome_tags.csv")
sf.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [ ]:
tf = pd.read_csv("/content/tag.csv")
tf.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [ ]:
rf = pd.read_csv("/content/rating.csv")
rf.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [ ]:
n_ratings = len(rf)
n_ratings

20000263

In [ ]:
rf.shape

(20000263, 4)

In [ ]:
n_users = rf['userId']
n_users

0                1
1                1
2                1
3                1
4                1
             ...
20000258    138493
20000259    138493
20000260    138493
20000261    138493
20000262    138493
Name: userId, Length: 20000263, dtype: int64

In [ ]:
n_users = rf.userId.unique()
n_users

array([     1,      2,      3, ..., 138491, 138492, 138493])

In [ ]:
n_users = len(rf.userId.unique())
n_users

138493

In [ ]:
lf = pd.read_csv("/content/link.csv")
lf.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [ ]:
mf = pd.read_csv("/content/movie.csv")
mf.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movie_names = mf.set_index('movieId')

In [ ]:
movie_names.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
movie_names = mf.set_index('movieId')['title']
movie_names.head()

movieId
1                      Toy Story (1995)
2                        Jumanji (1995)
3               Grumpier Old Men (1995)
4              Waiting to Exhale (1995)
5    Father of the Bride Part II (1995)
Name: title, dtype: object

In [ ]:
movie_names = mf.set_index('movieId')['title'].to_dict()
movie_names

{1: 'Toy Story (1995)',
 2: 'Jumanji (1995)',
 3: 'Grumpier Old Men (1995)',
 4: 'Waiting to Exhale (1995)',
 5: 'Father of the Bride Part II (1995)',
 6: 'Heat (1995)',
 7: 'Sabrina (1995)',
 8: 'Tom and Huck (1995)',
 9: 'Sudden Death (1995)',
 10: 'GoldenEye (1995)',
 11: 'American President, The (1995)',
 12: 'Dracula: Dead and Loving It (1995)',
 13: 'Balto (1995)',
 14: 'Nixon (1995)',
 15: 'Cutthroat Island (1995)',
 16: 'Casino (1995)',
 17: 'Sense and Sensibility (1995)',
 18: 'Four Rooms (1995)',
 19: 'Ace Ventura: When Nature Calls (1995)',
 20: 'Money Train (1995)',
 21: 'Get Shorty (1995)',
 22: 'Copycat (1995)',
 23: 'Assassins (1995)',
 24: 'Powder (1995)',
 25: 'Leaving Las Vegas (1995)',
 26: 'Othello (1995)',
 27: 'Now and Then (1995)',
 28: 'Persuasion (1995)',
 29: 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 30: 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 31: 'Dangerous Minds (1995)',
 32: 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 33: 'Wings of Courage (1995)',
 34: 'Babe (1995)',
 35: 'Carrington (1995)',
 36: 'Dead Man Walking (1995)',
 37: 'Across the Sea of Time (1995)',
 38: 'It Takes Two (1995)',
 39: 'Clueless (1995)',
 40: 'Cry, the Beloved Country (1995)',
 41: 'Richard III (1995)',
 42: 'Dead Presidents (1995)',
 43: 'Restoration (1995)',
 44: 'Mortal Kombat (1995)',
 45: 'To Die For (1995)',
 46: 'How to Make an American Quilt (1995)',
 47: 'Seven (a.k.a. Se7en) (1995)',
 48: 'Pocahontas (1995)',
 49: 'When Night Is Falling (1995)',
 50: 'Usual Suspects, The (1995)',
 51: 'Guardian Angel (1994)',
 52: 'Mighty Aphrodite (1995)',
 53: 'Lamerica (1994)',
 54: 'Big Green, The (1995)',
 55: 'Georgia (1995)',
 56: 'Kids of the Round Table (1995)',
 57: 'Home for the Holidays (1995)',
 58: 'Postman, The (Postino, Il) (1994)',
 59: 'Confessional, The (Confessionnal, Le) (1995)',
 60: 'Indian in the Cupboard, The (1995)',
 61: 'Eye for an Eye (1996)',
 62: "Mr. Holland's Opus (1995)",
 63: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 64: 'Two if by Sea (1996)',
 65: 'Bio-Dome (1996)',
 66: 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 67: 'Two Bits (1995)',
 68: 'French Twist (Gazon maudit) (1995)',
 69: 'Friday (1995)',
 70: 'From Dusk Till Dawn (1996)',
 71: 'Fair Game (1995)',
 72: 'Kicking and Screaming (1995)',
 73: 'Misérables, Les (1995)',
 74: 'Bed of Roses (1996)',
 75: 'Big Bully (1996)',
 76: 'Screamers (1995)',
 77: 'Nico Icon (1995)',
 78: 'Crossing Guard, The (1995)',
 79: 'Juror, The (1996)',
 80: 'White Balloon, The (Badkonake sefid) (1995)',
 81: "Things to Do in Denver When You're Dead (1995)",
 82: "Antonia's Line (Antonia) (1995)",
 83: 'Once Upon a Time... When We Were Colored (1995)',
 84: 'Last Summer in the Hamptons (1995)',
 85: 'Angels and Insects (1995)',
 86: 'White Squall (1996)',
 87: 'Dunston Checks In (1996)',
 88: 'Black Sheep (1996)',
 89: 'Nick of Time (1995)',
 90: 'Journey of August King, The (1995)',
 92: 'Mary Reilly (1996)',
 93: 'Vampire in Brooklyn (1995)',
 94: 'Beautiful Girls (1996)',
 95: 'Broken Arrow (1996)',
 96: 'In the Bleak Midwinter (1995)',
 97: 'Hate (Haine, La) (1995)',
 98: 'Shopping (1994)',
 99: 'Heidi Fleiss: Hollywood Madam (1995)',
 100: 'City Hall (1996)',
 101: 'Bottle Rocket (1996)',
 102: 'Mr. Wrong (1996)',
 103: 'Unforgettable (1996)',
 104: 'Happy Gilmore (1996)',
 105: 'Bridges of Madison County, The (1995)',
 106: 'Nobody Loves Me (Keiner liebt mich) (1994)',
 107: 'Muppet Treasure Island (1996)',
 108: 'Catwalk (1996)',
 109: 'Headless Body in Topless Bar (1995)',
 110: 'Braveheart (1995)',
 111: 'Taxi Driver (1976)',
 112: 'Rumble in the Bronx (Hont faan kui) (1995)',
 113: 'Before and After (1996)',
 114: "Margaret's Museum (1995)",
 115: 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)',
 116: 'Anne Frank Remembered (1995)',
 117: "Young Poisoner's Handbook, The (1995)",
 118: 'If Lucy Fell (1996)',
 119: 'Steal Big, Steal Little (1995)',
 120: 'Race the Sun (1996)',
 121: 'Boys of St. Vincent, The (1992)',
 122: 'Boomerang (1992)',
 123: 'Chungking Express (Chung Hing sam lam) (1994)',
 124: "Star Maker, The (Uomo delle stelle, L') (1995)",
 125: 'Flirting With Disaster (1996)',
 126: 'NeverEnding Story III, The (1994)',
 127: 'Silences of the Palace, The (Saimt el Qusur) (1994)',
 128: "Jupiter's Wife (1994)",
 129: 'Pie in the Sky (1996)',
 130: 'Angela (1995)',
 131: 'Frankie Starlight (1995)',
 132: 'Jade (1995)',
 133: 'Nueba Yol (1995)',
 134: 'Sonic Outlaws (1995)',
 135: 'Down Periscope (1996)',
 136: 'From the Journals of Jean Seberg (1995)',
 137: 'Man of the Year (1995)',
 138: 'Neon Bible, The (1995)',
 139: 'Target (1995)',
 140: 'Up Close and Personal (1996)',
 141: 'Birdcage, The (1996)',
 142: 'Shadows (Cienie) (1988)',
 143: 'Gospa (1995)',
 144: 'Brothers McMullen, The (1995)',
 145: 'Bad Boys (1995)',
 146: 'Amazing Panda Adventure, The (1995)',
 147: 'Basketball Diaries, The (1995)',
 148: 'Awfully Big Adventure, An (1995)',
 149: 'Amateur (1994)',
 150: 'Apollo 13 (1995)',
 151: 'Rob Roy (1995)',
 152: 'Addiction, The (1995)',
 153: 'Batman Forever (1995)',
 154: 'Beauty of the Day (Belle de jour) (1967)',
 155: 'Beyond Rangoon (1995)',
 156: 'Blue in the Face (1995)',
 157: 'Canadian Bacon (1995)',
 158: 'Casper (1995)',
 159: 'Clockers (1995)',
 160: 'Congo (1995)',
 161: 'Crimson Tide (1995)',
 162: 'Crumb (1994)',
 163: 'Desperado (1995)',
 164: 'Devil in a Blue Dress (1995)',
 165: 'Die Hard: With a Vengeance (1995)',
 166: 'Doom Generation, The (1995)',
 167: 'Feast of July (1995)',
 168: 'First Knight (1995)',
 169: 'Free Willy 2: The Adventure Home (1995)',
 170: 'Hackers (1995)',
 171: 'Jeffrey (1995)',
 172: 'Johnny Mnemonic (1995)',
 173: 'Judge Dredd (1995)',
 174: 'Jury Duty (1995)',
 175: 'Kids (1995)',
 176: 'Living in Oblivion (1995)',
 177: 'Lord of Illusions (1995)',
 178: 'Love & Human Remains (1993)',
 179: 'Mad Love (1995)',
 180: 'Mallrats (1995)',
 181: 'Mighty Morphin Power Rangers: The Movie (1995)',
 182: 'Moonlight and Valentino (1995)',
 183: 'Mute Witness (1994)',
 184: 'Nadja (1994)',
 185: 'Net, The (1995)',
 186: 'Nine Months (1995)',
 187: 'Party Girl (1995)',
 188: 'Prophecy, The (1995)',
 189: 'Reckless (1995)',
 190: 'Safe (1995)',
 191: 'Scarlet Letter, The (1995)',
 192: 'Show, The (1995)',
 193: 'Showgirls (1995)',
 194: 'Smoke (1995)',
 195: 'Something to Talk About (1995)',
 196: 'Species (1995)',
 197: 'Stars Fell on Henrietta, The (1995)',
 198: 'Strange Days (1995)',
 199: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 200: 'Tie That Binds, The (1995)',
 201: 'Three Wishes (1995)',
 202: 'Total Eclipse (1995)',
 203: 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 204: 'Under Siege 2: Dark Territory (1995)',
 205: 'Unstrung Heroes (1995)',
 206: 'Unzipped (1995)',
 207: 'Walk in the Clouds, A (1995)',
 208: 'Waterworld (1995)',
 209: "White Man's Burden (1995)",
 210: 'Wild Bill (1995)',
 211: 'Browning Version, The (1994)',
 212: 'Bushwhacked (1995)',
 213: 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 214: 'Before the Rain (Pred dozhdot) (1994)',
 215: 'Before Sunrise (1995)',
 216: 'Billy Madison (1995)',
 217: 'Babysitter, The (1995)',
 218: 'Boys on the Side (1995)',
 219: 'Cure, The (1995)',
 220: 'Castle Freak (1995)',
 222: 'Circle of Friends (1995)',
 223: 'Clerks (1994)',
 224: 'Don Juan DeMarco (1995)',
 225: 'Disclosure (1994)',
 226: 'Dream Man (1995)',
 227: 'Drop Zone (1994)',
 228: 'Destiny Turns on the Radio (1995)',
 229: 'Death and the Maiden (1994)',
 230: 'Dolores Claiborne (1995)',
 231: 'Dumb & Dumber (Dumb and Dumber) (1994)',
 232: 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 233: 'Exotica (1994)',
 234: 'Exit to Eden (1994)',
 235: 'Ed Wood (1994)',
 236: 'French Kiss (1995)',
 237: 'Forget Paris (1995)',
 238: 'Far From Home: The Adventures of Yellow Dog (1995)',
 239: 'Goofy Movie, A (1995)',
 240: 'Hideaway (1995)',
 241: 'Fluke (1995)',
 242: 'Farinelli: il castrato (1994)',
 243: 'Gordy (1995)',
 244: 'Gumby: The Movie (1995)',
 245: 'Glass Shield, The (1994)',
 246: 'Hoop Dreams (1994)',
 247: 'Heavenly Creatures (1994)',
 248: 'Houseguest (1994)',
 249: 'Immortal Beloved (1994)',
 250: 'Heavyweights (Heavy Weights) (1995)',
 251: 'Hunted, The (1995)',
 252: 'I.Q. (1994)',
 253: 'Interview with the Vampire: The Vampire Chronicles (1994)',
 254: 'Jefferson in Paris (1995)',
 255: 'Jerky Boys, The (1995)',
 256: 'Junior (1994)',
 257: 'Just Cause (1995)',
 258: "Kid in King Arthur's Court, A (1995)",
 259: 'Kiss of Death (1995)',
 260: 'Star Wars: Episode IV - A New Hope (1977)',
 261: 'Little Women (1994)',
 262: 'Little Princess, A (1995)',
 263: 'Ladybird Ladybird (1994)',
 264: "Enfer, L' (1994)",
 265: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 266: 'Legends of the Fall (1994)',
 267: 'Major Payne (1995)',
 268: 'Little Odessa (1994)',
 269: 'My Crazy Life (Mi vida loca) (1993)',
 270: 'Love Affair (1994)',
 271: 'Losing Isaiah (1995)',
 272: 'Madness of King George, The (1994)',
 273: "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 274: 'Man of the House (1995)',
 275: 'Mixed Nuts (1994)',
 276: 'Milk Money (1994)',
 277: 'Miracle on 34th Street (1994)',
 278: 'Miami Rhapsody (1995)',
 279: 'My Family (1995)',
 280: 'Murder in the First (1995)',
 281: "Nobody's Fool (1994)",
 282: 'Nell (1994)',
 283: 'New Jersey Drive (1995)',
 284: 'New York Cop (Nyû Yôku no koppu) (1993)',
 285: 'Beyond Bedlam (1993)',
 286: 'Nemesis 2: Nebula (1995)',
 287: 'Nina Takes a Lover (1994)',
 288: 'Natural Born Killers (1994)',
 289: 'Only You (1994)',
 290: 'Once Were Warriors (1994)',
 291: 'Poison Ivy II (1996)',
 292: 'Outbreak (1995)',
 293: 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 294: 'Perez Family, The (1995)',
 295: "Pyromaniac's Love Story, A (1995)",
 296: 'Pulp Fiction (1994)',
 297: 'Panther (1995)',
 298: 'Pushing Hands (Tui shou) (1992)',
 299: 'Priest (1994)',
 300: 'Quiz Show (1994)',
 301: 'Picture Bride (Bijo photo) (1994)',
 302: 'Queen Margot (Reine Margot, La) (1994)',
 303: 'Quick and the Dead, The (1995)',
 304: 'Roommates (1995)',
 305: 'Ready to Wear (Pret-A-Porter) (1994)',
 306: 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 307: 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 308: 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 309: 'Red Firecracker, Green Firecracker (Pao Da Shuang Deng) (1994)',
 310: 'Rent-a-Kid (1995)',
 311: 'Relative Fear (1994)',
 312: 'Stuart Saves His Family (1995)',
 313: 'Swan Princess, The (1994)',
 314: 'Secret of Roan Inish, The (1994)',
 315: 'Specialist, The (1994)',
 316: 'Stargate (1994)',
 317: 'Santa Clause, The (1994)',
 318: 'Shawshank Redemption, The (1994)',
 319: 'Shallow Grave (1994)',
 320: 'Suture (1993)',
 321: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 322: 'Swimming with Sharks (1995)',
 324: 'Sum of Us, The (1994)',
 325: "National Lampoon's Senior Trip (1995)",
 326: 'To Live (Huozhe) (1994)',
 327: 'Tank Girl (1995)',
 328: 'Tales from the Crypt Presents: Demon Knight (1995)',
 329: 'Star Trek: Generations (1994)',
 330: 'Tales from the Hood (1995)',
 331: 'Tom & Viv (1994)',
 332: 'Village of the Damned (1995)',
 333: 'Tommy Boy (1995)',
 334: 'Vanya on 42nd Street (1994)',
 335: 'Underneath (1995)',
 336: 'Walking Dead, The (1995)',
 337: "What's Eating Gilbert Grape (1993)",
 338: 'Virtuosity (1995)',
 339: 'While You Were Sleeping (1995)',
 340: 'War, The (1994)',
 341: 'Double Happiness (1994)',
 342: "Muriel's Wedding (1994)",
 343: 'Baby-Sitters Club, The (1995)',
 344: 'Ace Ventura: Pet Detective (1994)',
 345: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 346: 'Backbeat (1993)',
 347: 'Bitter Moon (1992)',
 348: 'Bullets Over Broadway (1994)',
 349: 'Clear and Present Danger (1994)',
 350: 'Client, The (1994)',
 351: 'Corrina, Corrina (1994)',
 352: 'Crooklyn (1994)',
 353: 'Crow, The (1994)',
 354: 'Cobb (1994)',
 355: 'Flintstones, The (1994)',
 356: 'Forrest Gump (1994)',
 357: 'Four Weddings and a Funeral (1994)',
 358: 'Higher Learning (1995)',
 359: 'I Like It Like That (1994)',
 360: 'I Love Trouble (1994)',
 361: 'It Could Happen to You (1994)',
 362: 'Jungle Book, The (1994)',
 363: 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 364: 'Lion King, The (1994)',
 365: 'Little Buddha (1993)',
 366: "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 367: 'Mask, The (1994)',
 368: 'Maverick (1994)',
 369: 'Mrs. Parker and the Vicious Circle (1994)',
 370: 'Naked Gun 33 1/3: The Final Insult (1994)',
 371: 'Paper, The (1994)',
 372: 'Reality Bites (1994)',
 373: 'Red Rock West (1992)',
 374: 'Richie Rich (1994)',
 375: 'Safe Passage (1994)',
 376: 'River Wild, The (1994)',
 377: 'Speed (1994)',
 378: 'Speechless (1994)',
 379: 'Timecop (1994)',
 380: 'True Lies (1994)',
 381: 'When a Man Loves a Woman (1994)',
 382: 'Wolf (1994)',
 383: 'Wyatt Earp (1994)',
 384: 'Bad Company (1995)',
 385: 'Man of No Importance, A (1994)',
 386: 'S.F.W. (1994)',
 387: 'Low Down Dirty Shame, A (1994)',
 388: 'Boys Life (1995)',
 389: 'Colonel Chabert, Le (1994)',
 390: 'Faster Pussycat! Kill! Kill! (1965)',
 391: "Jason's Lyric (1994)",
 392: 'Secret Adventures of Tom Thumb, The (1993)',
 393: 'Street Fighter (1994)',
 394: 'Coldblooded (1995)',
 395: 'Desert Winds (1995)',
 396: 'Fall Time (1995)',
 397: 'Fear, The (1995)',
 398: 'Frank and Ollie (1995)',
 399: 'Girl in the Cadillac (1995)',
 400: 'Homage (1995)',
 401: 'Mirage (1995)',
 402: 'Open Season (1996)',
 403: 'Two Crimes (Dos crímenes) (1995)',
 404: 'Brother Minister: The Assassination of Malcolm X (1994)',
 405: 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 406: 'Federal Hill (1994)',
 407: 'In the Mouth of Madness (1995)',
 408: '8 Seconds (1994)',
 409: 'Above the Rim (1994)',
 410: 'Addams Family Values (1993)',
 411: 'Martin Lawrence: You So Crazy (1994)',
 412: 'Age of Innocence, The (1993)',
 413: 'Airheads (1994)',
 414: 'Air Up There, The (1994)',
 415: 'Another Stakeout (1993)',
 416: 'Bad Girls (1994)',
 417: 'Barcelona (1994)',
 418: 'Being Human (1993)',
 419: 'Beverly Hillbillies, The (1993)',
 420: 'Beverly Hills Cop III (1994)',
 421: 'Black Beauty (1994)',
 422: 'Blink (1994)',
 423: 'Blown Away (1994)',
 424: 'Blue Chips (1994)',
 425: 'Blue Sky (1994)',
 426: 'Body Snatchers (1993)',
 427: 'Boxing Helena (1993)',
 428: 'Bronx Tale, A (1993)',
 429: 'Cabin Boy (1994)',
 430: 'Calendar Girl (1993)',
 431: "Carlito's Way (1993)",
 432: "City Slickers II: The Legend of Curly's Gold (1994)",
 433: 'Clean Slate (1994)',
 434: 'Cliffhanger (1993)',
 435: 'Coneheads (1993)',
 436: 'Color of Night (1994)',
 437: 'Cops and Robbersons (1994)',
 438: 'Cowboy Way, The (1994)',
 439: 'Dangerous Game (1993)',
 440: 'Dave (1993)',
 441: 'Dazed and Confused (1993)',
 442: 'Demolition Man (1993)',
 443: 'Endless Summer 2, The (1994)',
 444: 'Even Cowgirls Get the Blues (1993)',
 445: 'Fatal Instinct (1993)',
 446: 'Farewell My Concubine (Ba wang bie ji) (1993)',
 447: 'Favor, The (1994)',
 448: 'Fearless (1993)',
 449: 'Fear of a Black Hat (1994)',
 450: 'With Honors (1994)',
 451: 'Flesh and Bone (1993)',
 452: "Widows' Peak (1994)",
 453: 'For Love or Money (1993)',
 454: 'Firm, The (1993)',
 455: 'Free Willy (1993)',
 456: 'Fresh (1994)',
 457: 'Fugitive, The (1993)',
 458: 'Geronimo: An American Legend (1993)',
 459: 'Getaway, The (1994)',
 460: 'Getting Even with Dad (1994)',
 461: 'Go Fish (1994)',
 462: 'Good Man in Africa, A (1994)',
 463: 'Guilty as Sin (1993)',
 464: 'Hard Target (1993)',
 465: 'Heaven & Earth (1993)',
 466: 'Hot Shots! Part Deux (1993)',
 467: 'Live Nude Girls (1995)',
 468: 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 469: 'House of the Spirits, The (1993)',
 470: 'House Party 3 (1994)',
 471: 'Hudsucker Proxy, The (1994)',
 472: "I'll Do Anything (1994)",
 473: 'In the Army Now (1994)',
 474: 'In the Line of Fire (1993)',
 475: 'In the Name of the Father (1993)',
 476: 'Inkwell, The (1994)',
 477: "What's Love Got to Do with It? (1993)",
 478: 'Jimmy Hollywood (1994)',
 479: 'Judgment Night (1993)',
 480: 'Jurassic Park (1993)',
 481: 'Kalifornia (1993)',
 482: 'Killing Zoe (1994)',
 483: 'King of the Hill (1993)',
 484: 'Lassie (1994)',
 485: 'Last Action Hero (1993)',
 486: 'Life with Mikey (1993)',
 487: 'Lightning Jack (1994)',
 488: 'M. Butterfly (1993)',
 489: 'Made in America (1993)',
 490: 'Malice (1993)',
 491: 'Man Without a Face, The (1993)',
 492: 'Manhattan Murder Mystery (1993)',
 493: 'Menace II Society (1993)',
 494: 'Executive Decision (1996)',
 495: 'In the Realm of the Senses (Ai no corrida) (1976)',
 496: 'What Happened Was... (1994)',
 497: 'Much Ado About Nothing (1993)',
 498: 'Mr. Jones (1993)',
 499: 'Mr. Wonderful (1993)',
 500: 'Mrs. Doubtfire (1993)',
 501: 'Naked (1993)',
 502: 'Next Karate Kid, The (1994)',
 503: 'New Age, The (1994)',
 504: 'No Escape (1994)',
 505: 'North (1994)',
 506: 'Orlando (1992)',
 507: 'Perfect World, A (1993)',
 508: 'Philadelphia (1993)',
 509: 'Piano, The (1993)',
 510: 'Poetic Justice (1993)',
 511: 'Program, The (1993)',
 512: 'Puppet Masters, The (1994)',
 513: 'Radioland Murders (1994)',
 514: 'Ref, The (1994)',
 515: 'Remains of the Day, The (1993)',
 516: 'Renaissance Man (1994)',
 517: 'Rising Sun (1993)',
 518: 'Road to Wellville, The (1994)',
 519: 'RoboCop 3 (1993)',
 520: 'Robin Hood: Men in Tights (1993)',
 521: 'Romeo Is Bleeding (1993)',
 522: 'Romper Stomper (1992)',
 523: 'Ruby in Paradise (1993)',
 524: 'Rudy (1993)',
 525: 'Saint of Fort Washington, The (1993)',
 526: 'Savage Nights (Nuits fauves, Les) (1992)',
 527: "Schindler's List (1993)",
 528: 'Scout, The (1994)',
 529: 'Searching for Bobby Fischer (1993)',
 530: 'Second Best (1994)',
 531: 'Secret Garden, The (1993)',
 532: 'Serial Mom (1994)',
 533: 'Shadow, The (1994)',
 534: 'Shadowlands (1993)',
 535: 'Short Cuts (1993)',
 536: 'Simple Twist of Fate, A (1994)',
 537: 'Sirens (1994)',
 538: 'Six Degrees of Separation (1993)',
 539: 'Sleepless in Seattle (1993)',
 540: 'Sliver (1993)',
 541: 'Blade Runner (1982)',
 542: 'Son in Law (1993)',
 543: 'So I Married an Axe Murderer (1993)',
 544: 'Striking Distance (1993)',
 545: 'Harem (1985)',
 546: 'Super Mario Bros. (1993)',
 547: 'Surviving the Game (1994)',
 548: 'Terminal Velocity (1994)',
 549: 'Thirty-Two Short Films About Glenn Gould (1993)',
 550: 'Threesome (1994)',
 551: 'Nightmare Before Christmas, The (1993)',
 552: 'Three Musketeers, The (1993)',
 553: 'Tombstone (1993)',
 554: 'Trial by Jury (1994)',
 555: 'True Romance (1993)',
 556: 'War Room, The (1993)',
 558: 'Pagemaster, The (1994)',
 559: 'Paris, France (1993)',
 560: 'Beans of Egypt, Maine, The (1994)',
 561: 'Killer (Bulletproof Heart) (1994)',
 562: 'Welcome to the Dollhouse (1995)',
 563: 'Germinal (1993)',
 564: 'Chasers (1994)',
 565: 'Cronos (1993)',
 566: 'Naked in New York (1994)',
 567: 'Kika (1993)',
 568: 'Bhaji on the Beach (1993)',
 569: 'Little Big League (1994)',
 570: 'Slingshot, The (Kådisbellan) (1993)',
 571: 'Wedding Gift, The (1994)',
 572: 'Foreign Student (1994)',
 573: 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 574: 'Spanking the Monkey (1994)',
 575: 'Little Rascals, The (1994)',
 576: 'Fausto (1993)',
 577: 'Andre (1994)',
 579: 'Escort, The (Scorta, La) (1993)',
 580: 'Princess Caraboo (1994)',
 581: 'Celluloid Closet, The (1995)',
 582: 'Métisse (Café au Lait) (1993)',
 583: 'Dear Diary (Caro Diario) (1994)',
 584: "I Don't Want to Talk About It (De eso no se habla) (1993)",
 585: 'Brady Bunch Movie, The (1995)',
 586: 'Home Alone (1990)',
 587: 'Ghost (1990)',
 588: 'Aladdin (1992)',
 589: 'Terminator 2: Judgment Day (1991)',
 590: 'Dances with Wolves (1990)',

In [ ]:
n_movies = len(mf.movieId.unique())
n_movies

27278

In [ ]:
 matris = (n_ratings) / (n_users * n_movies) * 100 
 matris

0.5294139230357806

In [ ]:
z = pd.read_csv("/content/genome_scores.csv")
z.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [ ]:
cm = []

a = %pwd
hf = glob.glob(a + "/*.csv")

for i in hf:
  cm.append(pd.read_csv(i))

In [ ]:
big_frame = pd.concat(cm, ignore_index=True)

In [ ]:
big_frame.head()

   movieId  tagId  relevance  tag  ...  title  genres imdbId tmdbId
0      1.0    1.0    0.02500  NaN  ...    NaN     NaN    NaN    NaN
1      1.0    2.0    0.02500  NaN  ...    NaN     NaN    NaN    NaN
2      1.0    3.0    0.05775  NaN  ...    NaN     NaN    NaN    NaN
3      1.0    4.0    0.09675  NaN  ...    NaN     NaN    NaN    NaN
4      1.0    5.0    0.14675  NaN  ...    NaN     NaN    NaN    NaN

[5 rows x 11 columns]

In [ ]:
big_frame.describe

<bound method NDFrame.describe of            movieId  tagId  relevance  tag  ...  title  genres     imdbId    tmdbId
0              1.0    1.0    0.02500  NaN  ...    NaN     NaN        NaN       NaN
1              1.0    2.0    0.02500  NaN  ...    NaN     NaN        NaN       NaN
2              1.0    3.0    0.05775  NaN  ...    NaN     NaN        NaN       NaN
3              1.0    4.0    0.09675  NaN  ...    NaN     NaN        NaN       NaN
4              1.0    5.0    0.14675  NaN  ...    NaN     NaN        NaN       NaN
...            ...    ...        ...  ...  ...    ...     ...        ...       ...
32231274  131254.0    NaN        NaN  NaN  ...    NaN     NaN   466713.0    4436.0
32231275  131256.0    NaN        NaN  NaN  ...    NaN     NaN   277703.0    9274.0
32231276  131258.0    NaN        NaN  NaN  ...    NaN     NaN  3485166.0  285213.0
32231277  131260.0    NaN        NaN  NaN  ...    NaN     NaN   249110.0   32099.0
32231278  131262.0    NaN        NaN  NaN  ...    NaN     NaN  1724965.0  286971.0

[32231279 rows x 11 columns]>

In [ ]:
big_frame.info

<bound method DataFrame.info of            movieId  tagId  relevance  tag  ...  title  genres     imdbId    tmdbId
0              1.0    1.0    0.02500  NaN  ...    NaN     NaN        NaN       NaN
1              1.0    2.0    0.02500  NaN  ...    NaN     NaN        NaN       NaN
2              1.0    3.0    0.05775  NaN  ...    NaN     NaN        NaN       NaN
3              1.0    4.0    0.09675  NaN  ...    NaN     NaN        NaN       NaN
4              1.0    5.0    0.14675  NaN  ...    NaN     NaN        NaN       NaN
...            ...    ...        ...  ...  ...    ...     ...        ...       ...
32231274  131254.0    NaN        NaN  NaN  ...    NaN     NaN   466713.0    4436.0
32231275  131256.0    NaN        NaN  NaN  ...    NaN     NaN   277703.0    9274.0
32231276  131258.0    NaN        NaN  NaN  ...    NaN     NaN  3485166.0  285213.0
32231277  131260.0    NaN        NaN  NaN  ...    NaN     NaN   249110.0   32099.0
32231278  131262.0    NaN        NaN  NaN  ...    NaN     NaN  1724965.0  286971.0

[32231279 rows x 11 columns]>

In [ ]:
big_frame.isna().sum()

movieId          1128
tagId        20520383
relevance    20521511
tag          31764603
userId       11765452
rating       12231016
timestamp    11765452
title        32204001
genres       32204001
imdbId       32204001
tmdbId       32204253
dtype: int64

In [ ]:
big_frame.columns

Index(['movieId', 'tagId', 'relevance', 'tag', 'userId', 'rating', 'timestamp',
       'title', 'genres', 'imdbId', 'tmdbId'],
      dtype='object')

In [ ]:
big_frame.shape

(32231279, 11)

In [ ]:
big_frame.values()

NameError: ignored

In [ ]:
df = big_frame.set_index("movieId", inplace = True)